#searchCardCss {
    /* width: 60% !important; */
    
    margin: 10px !important;
       border-radius: 3%;
       height: 30%;
       
}

.col {
    margin-left: 3%;
}

#cardText {
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 50px;
   
}

#cardTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: -100px;
}

#genreSelect {
    width: 200px;
    margin-left: 10px;
}

#toggleCard {
    /* white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 200px; */
    color: black;    
    width: 100%;
    height: 300px;
    overflow: auto;
}

#search {
    background-color: orange;
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 15px;
}
  
#genre {
    display: flex;
    align-items: center;

}